{% extends 'Product/base.html' %}

{% block title %}
    Cтраница Wrap
{% endblock %}

{% block content %}
    <h1>Wrap</h1>
    <p> Product and Version:</p>
    {% for el in versions %}
        <div class="alert alert-warning">
            Product: {{ el.product }}<br>
            Version: {{ el.version }}<br>
            Linux Portable: {{ el.linux_portable_link }}<br>
            Linux RPM: {{ el.linux_rpm_link }}<br>
            Windows Exe: {{ el.windows_exe_link}}<br>
            Windows Msi: {{ el.windows_msi_link}}<br>
            MacOS: {{ el.mac_os_link}}
        </div>
    {% endfor %}
{% endblock %}


